/* File: avc-examples-ui3/src/main/www/css/general.css */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	position: relative;
	font-size: 14px;
	margin: 0;
}
#div-body {
	margin: 0;
}
#div-content {
	margin: 8px;
}
a {
	color: #009;
	text-decoration: none;
}
table {
	border-collapse: collapse;
}

[v-cloak] {
    display: none;
}

.hidden {
    display: none;
}

#div-header {
	background-color: #000;
	padding: 0.8em 0.8em 0.8em;
	position: relative;
}
#div-header select {
	position: absolute;
	right: 0.8em;
	top: 1em;
}
#div-header span.username {
	color: #fff;
	font-weight: bold;
}
#div-header div.profile {
	display: inline-block;
	position: absolute;
	right: 6em;
	top: 0.8em;
}
#div-header span.logout,
#div-header span.logout a {
	color: #ccc;
}
#div-header span.logout a:hover {
	color: #ff0;
}

.form-group button {
	border: 0.1em solid transparent;
	border-radius: 0.2em;
	font-size: 130%;
	padding: 0.3em;
	margin: 0.3em 1em;
	color: #fff;
}
.form-group button:active {
	color: #ff0;
}

svg {
	position: relative;
	top: 1px;
}

div.flash {
	border-width: 1px;
	border-style: solid;
	border-radius: 0.4em;
	padding: 1em 1.6em;
	margin: 0 0 1.2em;
	position: relative;
	x-display: table;
	x-width: 100%;
}
