/* File: avc-examples-ui3/src/main/www/css/login.css */

#body-home {
	background-color: #f8f8f8;
}
h1 {
	text-align: center;
}
#div-body.unauthenticated #div-content {
	display: table;
	margin: auto;
	width: 23em;
}
#div-body.authenticated #div-content {
	display: table;
	margin: auto;
	width: 23em;
}
#div-flash-authError {
	border-color: #c66;
	background-color: #fcc;
	color: #933;
}
#div-flash-authError button {
	position: absolute;
	top: 0.7em;
	right: 0.8em;
	background-color: transparent;
	border: 0;
	color: #933;
	font-size: larger;
}
form {
	x-display: table;
	border: 1px solid #999;
	border-radius: 0.4em;
	x-margin: auto;
	background-color: #fcfcfc;
	padding: 1.8em 1.6em 1.8em;
}
form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
form li {
	padding: 0;
	margin: 0;
	position: relative;
}
#div-password_reset {
	position: absolute;
	right: 0;
	top: 0;
}
#div-password_reset a {
	color: #00c;
}
#div-password_reset a:active {
	color: #c00;
}
label {
	display: block;
	font-weight: bold;
	color: #333;
	margin: 0;
}
input.text {
	margin: 0.6em 0 2em;
	width: 93.3%;
	padding: 0.6em;
	border: 1px solid #bbb;
	border-radius: 0.2em;
	font-size: 100%;
	background-color: #fff;
}
input.submit {
	margin: 0.4em 0 0.4em;
	width: 100%;
	padding: 0.6em;
	border: 1px solid rgba(27, 31, 35, 0.2);
	border-radius: 0.2em;
	font-size: 100%;
	background-color: rgb(38, 159, 66);
	background-image: linear-gradient(-180deg, rgb(52, 208, 88), rgb(40, 167, 69) 90%);
	background-position: -7px 50%;
	font-weight: bold;
	color: #fff;
}
#div-join {
	margin: 1.2em 0 0;
	border: 1px solid #bbb;
	border-radius: 0.4em;
	padding: 1.2em;
	text-align: center;
	color: #777;
}
#div-join a {
	color: #00c;
}
#div-join a:active {
	color: #c00;
}

#div-flash-authenticated {
	border-color: #cc6;
	background-color: #ffc;
	color: #993;
	text-align: center;
}
#div-sign_out {
	text-align: center;
}