<!DOCTYPE html>
<!-- avc-examples-ui3:/index.html -->
<html lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>avc-examples-ui3</title>
<script src="./lib/jquery-3.3.1.min.js"></script>
<script src="./lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'index';
	const BASE_HREF = './';
	
</script>
<link rel="stylesheet" type="text/css" href="./css/general.css">
<link rel="stylesheet" type="text/css" href="./css/login.css">
<script src="./js/config.js"></script>
<script src="./js/framework.js"></script>
<script src="./js/home.js"></script>
</head>
<body id="body-home">
<div id="div-body" v-cloak v-bind:class="{
	authenticated: authenticated,
	unauthenticated: !authenticated,
}">

<div id="div-content">

<template v-if="!authenticated">

	<h1>avc-examples-ui3</h1>

	<div id="div-flash-authError" class="hidden flash error">
		Incorrect username or password.
		<button id="button-close-flash-authError"
			v-on:click="hide_flash_authError">×</button>
	</div> <!-- end of: #div-flash-authError -->
	
	<form id="form-auth" action="./" method="POST" v-on:submit.prevent="authenticate">
	<ul>
	
		<li>
		<label for="text-username">Username</label>
		<input id="text-username" type="text" class="text" v-model="username">
	
		<li>
		<label for="password-password">Password</label>
		<input id="password-password" type="password" class="text" v-model="password">
		<div id="div-password_reset">
			<a href="./password_reset/">
				Forgot password?
			</a>
		</div> <!-- end of: #div-password_reset -->
		
		<li>
		<input id="submit-login" type="submit" class="submit" value="Sign in">
	
	</ul>
	</form>
	
	<div id="div-join">
	
		New User?
		
		<a href="./join/">Create an account</a>
		
	</div> <!-- end of: #div-newUser -->

</template>
<template v-else>

	<h1>avc-examples-ui3</h1>

	<div id="div-flash-authenticated" class="flash authenticated">
		AUTHENTICATED :-)
	</div> <!-- end of: #div-flash-authenticated -->
	
	<div id="div-sign_out">
		<a href="./sign_out/" id="link_sign_out">Sign out</a>
	</div> <!-- end of: #div-sign_out -->
	
</template>

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->
</body>
</html>
